@import url(./_reset.css);

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(/assets/bgsky.jpg) no-repeat;
  background-size: cover;
}

.main-title {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Techno';
  color: white;
  font-size: 7rem;
  text-align: center;
  background: -webkit-linear-gradient(
    90deg,
    rgba(18, 214, 223, 1) 0%,
    rgba(208, 150, 231, 1) 50%,
    rgba(243, 91, 247, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: spacing 2s forwards;
}

@keyframes spacing {
  from {
    letter-spacing: 0;
    opacity: 0;
  }

  to {
    letter-spacing: 1rem;
    opacity: 1;
  }
}

.main-medias {
  display: flex;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.link-medias {
  font-size: 3rem;
  margin-right: 2rem;
}

.link-icons {
  color: white;
  background: -webkit-linear-gradient(
    90deg,
    rgba(18, 214, 223, 1) 0%,
    rgba(239, 144, 242, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  animation: fade-in 3s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.link-icons:hover {
  transform: scale(1.1);
  transition: ease-in 0.5s;
  filter: drop-shadow(3px 3px #72d3fe);
}
