@import url(./_reset.css);

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/bgsky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-logo {
  position: absolute;
  width: 40rem;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-medias {
  display: flex;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.link-medias {
  font-size: 3rem;
  margin-right: 1.5rem;
  filter: drop-shadow(3px 3px #898caf);
}
